@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Heebo:wght@400;500;700;900&display=swap');

/* font-family: 'Courier Prime', monospace;
font-family: 'Heebo', sans-serif; */
:root {
  --primaryColor: #9C07B6;
  --primaryDarkColor: #3D0048;
  --primaryHoverColor: #900AA8;
  --secondaryColor: #F9B000;
  --main-font: 'Heebo', sans-serif;
  --baseColor: #21243D;
  --baseFont: 'Heebo', sans-serif;
  --titleFont: 'Courier Prime', monospace;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
  --lightBg: #F1F1F1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--baseColor);
  line-height: normal;
  margin: 1px;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 749px) {
  .socialCol li {
    margin: 1px;
    /* تنظیم مارجین به ۱ پیکسل برای حالت موبایل */
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

a:hover {
  color: var(--primaryDarkColor);
}

a,
.btn {
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  text-decoration: none;
}

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.primaryColor {
  color: var(--primaryColor);
}

.primaryDarkColor {
  color: var(--primaryDarkColor);
}

.lightBg {
  background-color: var(--lightBg);
}

.btn {
  font-size: 20px;
  font-weight: var(--medium);
  padding: 8px 20px;
  border-radius: 2px;
}

.btnPrimary {
  background-color: var(--primaryColor);
  color: var(--bs-white);
}

.btnPrimary:hover {
  background-color: var(--primaryDarkColor);
  color: var(--bs-white);
}

.btnOutline {
  border: 1px solid var(--primaryDarkColor);
  color: var(--primaryDarkColor);
}

.btnOutline:hover {
  border: 1px solid var(--primaryDarkColor);
  background-color: var(--primaryDarkColor);
  color: var(--bs-white);
}

.btn:focus {
  outline: none;
}


/* titles */
.xlTitle {
  font-size: 44px;
  line-height: 1.3;
  font-weight: var(--bold);
  font-family: var(--titleFont)
}

.lgTitle {
  font-size: 30px;
  line-height: normal;
  font-weight: var(--bold);
  font-family: var(--titleFont)
}

.mdTitle {
  font-size: 26px;
  line-height: normal;
  font-weight: var(--bold);
  font-family: var(--titleFont)
}

.smTitle {
  font-size: 22px;
  line-height: normal;
  font-weight: var(--regular);
  font-family: var(--titleFont)
}

.smText {
  font-size: 22px;
}

.xsTitle {
  font-size: 18px;
  line-height: normal;
}

.regular {
  font-weight: var(--regular);
}

.medium {
  font-weight: var(--medium);
}

.bold {
  font-weight: var(--bold);
}

.black {
  font-weight: var(--black);
}


.headerCol {
  background-color: var(--bs-white);
  padding: 18px 0;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
}

.fixedHeader .headerCol {
  padding: 10px 0;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}

/* navigation */
.navCol {
  text-align: right;
  align-items: center;
}

.navCol a {
  font-size: 20px;
  color: #000;
  font-weight: var(--medium);
  display: inline-block;
  position: relative;
}

.navCol a:hover {
  color: var(--primaryColor);
}

.navCol a::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--primaryColor);
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
  opacity: 0;
}

.navCol a.active::before {
  opacity: 1;
  width: 27px;
  right: auto;
  left: 0;
}

.navCol a:hover::before {
  opacity: 1;
  left: 0;
  right: 0;
}

.navCol a.active {
  color: var(--primaryColor);
}

.navCol li {
  display: inline-flex;
  align-items: center;
}

.navCol li+li {
  padding-left: 32px;
}

/* nav toggle */
.navToggle {
  display: flex;
  align-items: center;
  padding: 15px 12px;
  width: 18px;
  height: 2px;
  box-sizing: content-box;
  background-clip: content-box;
  -webkit-transition: background-color 500ms ease-in-out 250ms;
  -o-transition: background-color 500ms ease-in-out 250ms;
  transition: background-color 500ms ease-in-out 250ms;
  background-color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: auto;
}

.navToggle:hover {
  cursor: pointer;
}

.navToggle:before,
.navToggle:after {
  position: relative;
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #000;
  -webkit-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}

.navToggle:before {
  top: -6px;
}

.navToggle:after {
  bottom: -3px;
}

.navToggle__text {
  display: none;
}

.navToggleActive .navToggle {
  background-color: rgba(255, 255, 255, 0);
  transition-delay: 0s;
}

.navToggleActive .navToggle:before {
  -webkit-transform: translateY(6px) rotate(-225deg);
  -ms-transform: translateY(6px) rotate(-225deg);
  transform: translateY(6px) rotate(-225deg);
}

.navToggleActive .navToggle:after {
  -webkit-transform: translateY(-6px) rotate(225deg);
  -ms-transform: translateY(-6px) rotate(225deg);
  transform: translateY(-6px) rotate(225deg);
}

/*   /nav toggle */


/* banner section */
.bannerSection {
  padding: 180px 0 80px;
}

.bannerUserImg {
  margin-left: 30px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: relative;
}

.bannerUserImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.bannerUserImg::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 13px;
  width: 100%;
  height: 100%;
  background-color: #EDF7FA;
  border-radius: 50%;
}

.bannerBtnCol {
  padding-top: 15px;
}


.ksText {
  display: block;
  padding-top: 10px;
}

.keySkillCard+.keySkillCard {
  padding-top: 25px;
}

.keySkillCol {
  width: 300px;
}

.pLbl {
  display: block;
  width: 50px;
  text-align: right;
}

.progress.progressStyle {
  height: 8px;
  padding: 1px;
  background-color: var(--secondaryColor);
  border-radius: 3px;
}

.progressStyle .progress-bar {
  background-color: #fff;
  border-radius: 3px;
}

.progressCol+.progressCol {
  padding-top: 18px;
}

.cardOptionCol>li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.cardOptionCol>li+li {
  padding-left: 40px;
}

.cardOptionCol>li+li::before {
  content: "|";
  position: absolute;
  left: 16px;
}

.cardOptionCol {
  padding: 5px 0 10px;
}

.cardStyle1 {
  padding: 25px;
  background-color: var(--bs-white);
  border-radius: 4px;
  height: 100%;
}

.cardStyle1>p:last-child {
  margin-bottom: 0;
}

.cs1Title {
  min-height: 90px;
}

.dateLbl {
  display: inline-block;
  padding: 4px 12px;
  background-color: #142850;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  font-weight: var(--bold);
}

.sliderOuter {
  position: relative;
}

.sliderOuter .swiper-button-next.swiperBtnStyle {
  right: -50px;
}

.sliderOuter .swiper-button-prev.swiperBtnStyle {
  left: -50px;
}

.sliderOuter .swiper-slide {
  height: auto;
}

.swiperPaginationStyle span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primaryColor);
}

.posInitial {
  position: initial;
}

.portfolioOption li {
  display: inline-block;
  padding-right: 20px;
}

.portfolioOption {
  padding: 5px 0 16px;
}

.portfolioContentCol>p:last-child {
  margin-bottom: 0;
}

.portfolioImgCol img {
  border-radius: 6px;
  align-content: center;
  text-align: center;
  width: 246px;
  height: 184px;
  -o-object-fit: cover;
  object-fit: cover;
}

.portfolioCard {
  padding: 20px 0;
  border-bottom: 1px solid #E0E0E0;
}

/* 
.testimonialCol {
  padding-top: 35px;
} */

.tContentCol>p:last-child {
  margin-bottom: 0;
}

.tImgCol {
  width: 95px;
  height: 95px;
  margin-right: 5px;
  border-radius: 50%;
}

.tImgCol img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.swiperBtnStyle {
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: var(--primaryColor);
  border-radius: 50%;
}

.swiper-button-next.swiperBtnStyle::after,
.swiper-button-prev.swiperBtnStyle::after {
  font-size: 16px;
}

.swiperBtnStyle.swiper-button-prev {
  left: 2px;
}

.swiperBtnStyle.swiper-button-next {
  right: 2px;
}

.testimonialSlider {
  padding: 30px 0;
}

.testimonialSlider .swiper-slide {
  padding: 0 40px;
}


body.navToggleActive {
  overflow: hidden;
}




/* footer */
.footerCol {
  padding: 50px 0;
  text-align: center;
}

.socialCol li {
  display: inline-block;
}

.socialCol li+li {
  padding-left: 35px;
}

.socialCol img {
  max-width: 30px;
  max-height: 30px;
  -o-object-fit: contain;
  object-fit: contain;
}

/* btnOutline */

.copyrightCol {
  padding: 20px 0 0;
  font-size: 14px;
}

.copyrightCol p {
  margin: 0;
}


/* portfolio page */
.innerPageBannerCol {
  padding: 180px 0 150px;
  margin-top: 60px;
}

.portfolioContentMain {
  position: relative;
  z-index: 1;
  padding: 30px 0;
}

.pCol {
  height: 100%;
}

.pImg {
  width: 100%;
}

.portfolioRow .pColMain:nth-child(2n-1) .pCol {
  margin-top: -110px;
}

@media (min-width:576px) {
  .swiper-pagination {
    display: none;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

h1 {
  font-size: 5vw;
}

@media (min-width:992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 100%;
    max-width: 890px;
    flex-direction: column;
  }

  .headerCol .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width:1200px) {
  .headerCol .container-fluid {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width:1199px) {
  .navCol a {
    font-size: 18px;
  }

  .xlTitle {
    font-size: 40px;
  }

  .lgTitle {
    font-size: 28px;
  }

  .mdTitle {
    font-size: 24px;
  }

  .btn {
    font-size: 18px;
  }

  .cs1Title {
    min-height: 60px;
  }

  .bannerSection {
    padding: 150px 0 60px;
  }

  .sectionSpace {
    padding-top: 10px;
  }

  .footerCol {
    padding: 30px 0;
  }

  .innerPageBannerCol {
    padding: 150px 0 100px;
  }
}

@media (max-width:991px) {
  .sliderOuter .swiper-button-next.swiperBtnStyle {
    right: -20px;
  }

  .sliderOuter .swiper-button-prev.swiperBtnStyle {
    left: -20px;
  }

  .navCol a {
    font-size: 16px;
  }

  .xlTitle {
    font-size: 32px;
  }

  body {
    font-size: 14px;
  }

  .bannerUserImg {
    margin-left: 20px;
    width: 220px;
    height: 220px;
  }

  .btn {
    font-size: 16px;
  }

  .bannerBtnCol {
    padding-top: 10px;
  }

  .smTitle {
    font-size: 18px;
  }

  .keySkillCard+.keySkillCard {
    padding-top: 20px;
  }

  .keySkillCol {
    width: 250px;
  }

  .cs1Title {
    min-height: auto;
  }

  .innerPageBannerCol {
    padding: 120px 0 50px;
  }

  .portfolioRow .pColMain:nth-child(2n-1) .pCol {
    margin-top: -70px;
  }

  .portfolioContentMain {
    padding: 30px 0;
  }
}

.keySkillCard {
  transition: transform 0.3s ease;
}

.keySkillCard.highlight {
  transform: scale(1.2);
  background-color: #f0f0f0;
  border: 2px solid #007bff;
}

@media (max-width:767px) {
  .navCollapseCol {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 230px;
    padding: 20px;
    background: var(--primaryDarkColor);
    z-index: 99;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
  }

  .navToggleActive .navCollapseCol {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .navCol {
    text-align: left;
  }

  .navCol li+li {
    padding-left: 0;
  }

  .navCol li {
    padding: 5px 0;
  }

  .navCol li {
    display: block;
  }

  .navCol a::before {
    display: none;
  }

  .navCol a {
    font-size: 16px;
    color: var(--bs-white);
  }

  .bannerUserImg {
    margin-left: 0;
    width: 180px;
    height: 180px;
  }

  .bannerSection {
    padding: 120px 0 50px;
  }

  .tImgCol {
    margin-right: 0;
  }

  .socialCol img {
    max-width: 20px;
    max-height: 20px;
  }

  .socialCol li+li {
    padding-left: 20px;
  }

  .copyrightCol {
    padding: 15px 0 0;
    font-size: 12px;
  }

  .footerCol {
    padding: 20px 0;
  }

  .mdTitle {
    font-size: 22px;
  }

  .lgTitle {
    font-size: 24px;
  }

  .smText {
    font-size: 18px;
  }

  .dateLbl {
    font-size: 15px;
  }

  .sectionSpace {
    padding-top: 20px;
  }

  .portfolioRow .pColMain:nth-child(2n-1) .pCol {
    margin-top: 0;
  }

  .innerPageBannerCol {
    padding: 100px 0 30px;
  }

  .navCol a:hover,
  .navCol a.active {
    color: var(--bs-white);
    opacity: 1;
  }

  .navCol a {
    opacity: 0.8;
  }

  .logoCol img {
    width: 50px;
    height: auto;
  }

  .fixedHeader .headerCol,
  .headerCol {
    padding: 10px 0;
  }
}

.logoCol img {
  flex: 0 0 auto;
  width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media(max-width:575px) {

  .sliderOuter .swiper-button-prev.swiperBtnStyle,
  .sliderOuter .swiper-button-next.swiperBtnStyle {
    display: none;
  }

  .testimonialSlider .swiper-slide {
    padding: 0 0px 50px;
  }

  .swiperBtnStyle.swiper-button-next {
    right: auto;
    top: auto;
    bottom: 0;
    left: 50%;
    margin-left: 5px;
  }

  .swiperBtnStyle.swiper-button-prev {
    left: auto;
    top: auto;
    bottom: 0;
    right: 50%;
    margin-right: 5px;
  }

  .testimonialSlider {
    padding: 10px 0 0;
  }

  .sectionSpace {
    padding: 20px 0;
  }

  .cardStyle1 {
    padding: 15px;
  }

  .btn {
    font-size: 14px;
  }

  .xlTitle {
    font-size: 26px;
  }

  .lgTitle {
    font-size: 22px;
  }

  .mdTitle {
    font-size: 20px;
  }

  .swiperBtnStyle {
    width: 30px;
    height: 30px;
  }

  .swiper-button-next.swiperBtnStyle::after,
  .swiper-button-prev.swiperBtnStyle::after {
    font-size: 14px;
  }
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3D0048;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.scrollToTop:hover {
  background-color: #900AA8;
}

body.scrollActive .scrollToTop {
  display: block;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modal-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.modal-content .btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content .btnPrimary {
  background-color: #3D0048;
  color: white;
}

.modal-content .btnPrimary:hover {
  background-color: #900AA8;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.teaching-section {
  padding: 40px 20px;
  background-color: #F1F1F1;
  margin: 20px 0;
  border-radius: 8px;
}

.teaching-section .swiper {
  padding: 20px 0;
}

.teaching-section .swiper-slide {
  display: flex;
  align-items: center;
  padding: 20px;
}

.teaching-section .slide-image {
  width: 95px;
  height: 95px;
  margin-right: 20px;
  border-radius: 50%;
}

.teaching-section .text-content {
  flex: 1;
}

.teaching-section .swiper-button-next,
.teaching-section .swiper-button-prev {
  background-color: var(--primaryColor);
  border-radius: 50%;
}

.teaching-section .swiper-pagination {
  bottom: 10px;
}

.teaching-section h3 {
  font-size: 22px;
  font-weight: var(--bold);
  margin: 0;
}

.teaching-section p {
  font-size: 14px;
  margin: 5px 0 0;
}

@media (max-width: 767px) {
  .teaching-section {
    padding: 20px;
  }

  .swiper {
    padding: 10px 0;
  }

  .swiper-slide {
    padding: 5px;
  }

  .slide-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
  }
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.slider {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  display: none;
  padding: 20px;
  text-align: left;
}

.slide-link {
  text-decoration: none;
  color: inherit;
}

.slide-content {
  display: flex;
  align-items: center;
}

.slide-image {
  width: 95px;
  height: 95px;
  margin-right: 20px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  line-height: normal;
}

@media (max-width: 767px) {

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
  }

  .swiper-pagination {
    bottom: 5px;
  }
}

.text-content {
  flex: 1;
}

.swiper-pagination {
  bottom: 10px;
}

.swiper-pagination-bullet {
  background: var(--primaryColor);
}

.swiper-pagination-bullet-active {
  background: var(--primaryDarkColor);
}

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--primaryColor);
  color: #fff;
  border-radius: 50%;
}

.cardStyle1 {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.infinite-scroll-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.infinite-scroll-button:hover {
  background-color: #0056b3;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.theme-toggle {
  display: flex;
  align-items: center;
  position: relative;
  width: 60px;
  height: 30px;
  margin-left: 10px;
  top: 4px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
}

.toggle-inner {
  display: none;
}

.toggle-switch {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-checkbox:checked+.toggle-label {
  background-color: #4caf50;
}

.toggle-checkbox:checked+.toggle-label .toggle-switch {
  transform: translateX(30px);
}

.smTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.keySkillCard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.ksText {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  color: #555;
  transition: background-color 0.3s;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

/* Backend Development Skills */
.ksText[data-skill="Python"] {
  background-color: #3776AB;
  color: white;
}

.ksText[data-skill="Django Framework"] {
  background-color: #092E20;
  color: white;
}

.ksText[data-skill="Django REST Framework"] {
  background-color: #A30000;
  color: white;
}

.ksText[data-skill="RESTful APIs"] {
  background-color: #5B2B7A;
  color: white;
}

.ksText[data-skill="API Integration"] {
  background-color: #1E90FF;
  color: white;
}

.ksText[data-skill="Socket Programming"] {
  background-color: #F7A035;
  color: white;
}

/* Frontend Development Skills */
.ksText[data-skill="JavaScript"] {
  background-color: #F7DF1E;
  color: black;
}

.ksText[data-skill="HTML"] {
  background-color: #E34F26;
  color: white;
}

.ksText[data-skill="CSS"] {
  background-color: #017bd8;
  color: white;
}

.ksText[data-skill="Vue.js Framework"] {
  background-color: #4FC08D;
  color: white;
}

.ksText[data-skill="Tailwind CSS"] {
  background-color: #06B6D4;
  color: white;
}

.ksText[data-skill="Bootstrap"] {
  background-color: #7952B3;
  color: white;
}

/* Database Skills */
.ksText[data-skill="SQL"] {
  background-color: #4479A1;
  color: white;
}

.ksText[data-skill="Database Designer"] {
  background-color: #F29111;
  color: white;
}

.ksText[data-skill="MySQL"] {
  background-color: #4479A1;
  color: white;
}

.ksText[data-skill="SQLite"] {
  background-color: #003B57;
  color: white;
}

.ksText[data-skill="PostgreSQL"] {
  background-color: #336791;
  color: white;
}

.ksText[data-skill="MongoDB"] {
  background-color: #47A248;
  color: white;
}

.ksText[data-skill="Object-Relational Mapping"] {
  background-color: #FF6F61;
  color: white;
}

.ksText[data-skill="Redis"] {
  background-color: #DC382D;
  color: white;
}

/* Notable Skills */
.ksText[data-skill="R Language"] {
  background-color: #276DC3;
  color: white;
}

.ksText[data-skill="Functional Programming"] {
  background-color: #5A4FCF;
  color: white;
}

.ksText[data-skill="Object Oriented Programming"] {
  background-color: #00599C;
  color: white;
}

.ksText[data-skill="Linux Experience"] {
  background-color: #FCC624;
  color: black;
}

.ksText[data-skill="Algorithms Knowledge"] {
  background-color: #1E90FF;
  color: white;
}

.ksText[data-skill="Data Structure Knowledge"] {
  background-color: #FF6F61;
  color: white;
}

.ksText[data-skill="Mathematics & Statistics"] {
  background-color: #4B0082;
  color: white;
}

.ksText[data-skill="Linear Algebra"] {
  background-color: #800080;
  color: white;
}

.ksText[data-skill="Translation"] {
  background-color: #32CD32;
  color: white;
}

/* Network & Security Skills */
.ksText[data-skill="Network+"] {
  background-color: #0078D7;
  color: white;
}

.ksText[data-skill="Security+"] {
  background-color: #FF4500;
  color: white;
}

.ksText[data-skill="CEH"] {
    background-color: #f53030;
    color: white;
}
.ksText[data-skill="LPIC 1"] {
  background-color: #FFD700;
  color: black;
}

.ksText[data-skill="LPIC 2"] {
    background-color: #0ca519;
    color: black;
}

.ksText[data-skill="Shell Scripting"] {
    background-color: #180d1d;
    color: rgb(255, 255, 255);
}

/* Tools & Applications */
.ksText[data-skill="Microservices"] {
  background-color: #FF6B6B;
  color: white;
}

.ksText[data-skill="DevOps"] {
  background-color: #1E90FF;
  color: white;
}

.ksText[data-skill="System Design"] {
  background-color: #32CD32;
  color: white;
}

.ksText[data-skill="SOLID Principles"] {
  background-color: #8A2BE2;
  color: white;
}

.ksText[data-skill="Design Patterns"] {
  background-color: #FF4500;
  color: white;
}

.ksText[data-skill="UML Diagrams"] {
  background-color: #4B0082;
  color: white;
}

.ksText[data-skill="MVC Architecture"] {
  background-color: #20B2AA;
  color: white;
}

.ksText[data-skill="Machine Learning"] {
  background-color: #FF6F61;
  color: white;
}

.ksText[data-skill="AWS"] {
  background-color: #FF9900;
  color: white;
}

/* Tools & Applications Additional Skills */
.ksText[data-skill="Docker"] {
  background-color: #2496ED;
  color: white;
}

.ksText[data-skill="Postman"] {
  background-color: #FF6C37;
  color: white;
}

.ksText[data-skill="Git"] {
  background-color: #F05032;
  color: white;
}

.ksText[data-skill="GitLab"] {
  background-color: #FC6D26;
  color: white;
}

.ksText[data-skill="GitFlow"] {
  background-color: #0DB7ED;
  color: white;
}

.ksText:hover {
  opacity: 0.9;
}

.workExperienceCard {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.workExperienceCard h5 {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.workExperienceCard p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.5;
}

.toggle-label {
  cursor: pointer;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  transition: background-color 0.3s;
}

.toggle-inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.toggle-switch {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

body.dark-mode .toggle-label {
  background-color: #666;
}

body.dark-mode .toggle-switch {
  transform: translateX(30px);
}

body.dark-mode nav a {
  color: #ffffff;
}


@media (max-width: 767px) {
  .keySkillCard {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 1rem;
  }

  .ksText {
    font-size: 0.8rem;
    padding: 3px 8px;
    margin-right: 3px;
    margin-bottom: 3px;
  }

  .smTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

/* Work Experience Card Responsive */
@media (max-width: 767px) {
  .workExperienceCard {
    padding: 10px;
    margin-bottom: 0.5rem;
  }

  .workExperienceCard h5 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  .workExperienceCard p {
    font-size: 0.8rem;
    line-height: 1.4;
  }
}

/* Flex Container Adjustments */
@media (max-width: 767px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-md {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* Improved Responsive Typography */
@media (max-width: 576px) {
  html {
    font-size: 14px;
    /* Base font size reduction */
  }

  .xlTitle {
    font-size: 2rem;
  }

  .lgTitle {
    font-size: 1.5rem;
  }

  .mdTitle {
    font-size: 1.2rem;
  }

  .smTitle {
    font-size: 1rem;
  }
}

/* Navigation Responsive Improvements */
@media (max-width: 767px) {
  .navCol ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .navCol li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .navCol li+li {
    padding-left: 0;
  }
}

/* Section Spacing Adjustments */
@media (max-width: 767px) {
  .sectionSpace {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}


.lightBg {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.innerPageBannerCol {
  background-color: #007bff;
  color: white;
  padding: 40px 0;
  text-align: center;
  flex: 1;
}



header {
  position: relative;
  flex: 1;
}

.xlTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

.xlTitle {
  margin-top: 60px;
}

.portfolioRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pColMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.sectionDescription {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.card {
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
}


.form-label {
  font-weight: 600;
  margin-bottom: 10px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 15px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btnPrimary {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btnPrimary:hover {
  background-color: #0056b3;
}

.alert {
  padding: 15px;
  border-radius: 0.25rem;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

.socialCol {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.socialCol li {
  margin: 0 15px;
}

.socialCol img {
  width: 30px;
  transition: transform 0.3s;
}

.socialCol img:hover {
  transform: scale(1.1);
}

.copyrightCol {
  text-align: center;
  margin-top: 10px;
}

.socialCol li {
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 749px) {
  .footerCol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .socialCol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 100%;
  }

  .socialCol li {
    margin: 5px;
    flex: 0 0 45%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {

  .featured-work-title,
  .featured-work-description {
    text-align: center !important;
  }

  .featured-work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.sectionTitle {
  text-align: center;
  margin: 20px 0;
}

.bookCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.bookImage {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.likeButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.likeButton:hover {
  background-color: #0056b3;
}

.bookCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container {
  margin-top: 40px;
}

.bookImage {
  max-width: 100%;
  height: auto;
}

.likeCount {
  margin-left: 10px;
}

.likeCount {
  margin-left: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  color: #333;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.portfolioCol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Responsive grid */
  grid-gap: 20px;
  /* Adjust gap between cards */
}

/* Mobile Slider (Optional) */
@media (max-width: 768px) {
  .portfolioCol {
    grid-template-columns: 1fr;
    /* Single column on mobile */
    overflow-x: auto;
    /* Enable horizontal scrolling */
    scroll-behavior: smooth;
    /* Smooth scrolling */
  }
}

.sectionSpace {
  padding-top: 10px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.featured-work h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.portfolioCol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.portfolioCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  /* Use flexbox for easier centering */
  flex-direction: column;
  /* Ensure vertical stacking */
  align-items: center;
  /* Center items vertically within the card */
}

.portfolioContentCol {
  text-align: center;
}

.lgTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dateLbl {
  font-weight: bold;
}

@media (max-width: 768px) {
  .portfolioCol {
    grid-template-columns: 1fr;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
}
